.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
body{
  background-color: lightsteelblue;
}

.header-index{
    background:black;
    background-size: cover;
    height: 200px;
    color:white;
    text-align: center;
}

.header-index2{
     background-image: url(./Images/pele4.jpg);
    background-size: cover;
    height: 1500px;
    width: 1920px;
    color:white;
    text-align: center;
    background-color: white;
    
}

.footer-index{
    background-color: black;
    height: 100px;
    color:black;
    text-align: center;
}

.h1-footer{
  color: white;
}




