.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header-index{
    background:black;
    background-size: cover;
    height: 200px;
    color:white;
    text-align: center;
}





